.copy {font-size:x-small;text-align:center}
.small {font-size:small}
.center {text-align:center}
.centerimg {display:block;margin-left:auto;margin-right:auto}
.style1 {color: #FF0000;font-size: 24px}
